.blocklyTreeLabel {
    font-size: 12px !important;
}

.blocklyText,
.blocklyHtmlInput,
.blocklyTreeLabel {
    font-family: 'Kanit', sans-serif !important;
}

.blocklyTreeRow {
    height: 28px !important;
    margin-top: 5px !important;
}


html,
body {
    height: 100%;
    margin: 0;
}

body {

    font-family: sans-serif;
    overflow: hidden;
}

h1 {
    font-weight: normal;

    font-size: 140%;
}

#head_part {
    height: 80px;
    border-color: rgb(17, 17, 11);
    border-width: 0px;
    border-style: solid;
    background-color: rgb(180, 185, 109);
    margin-bottom: 0px;
}

#blocklyArea {
    height: calc(100% - 100px);

    width: 70%;
    float: left;
    border-style: solid;
    border-color: blue;
    border-width: 0px;
}

#divArea {
    height: calc(100% - 100px);

    width: 10px;
    float: left;
    border-style: solid;
    border-color: blue;
    border-width: 0px;
    float: left;
}

#con_view_area {
    height: calc(100% - 100px);

    width: calc(30% - 10px);
    background-color: rgb(255, 255, 255);
    float: right;

    border-color: rgb(180, 177, 177);
    border-width: 1px;
    border-style: solid;

}

#con_view_area #t1 {
    height: 40px;
    border-color: rgb(177, 173, 173);
    border-width: 1px;
    border-style: solid;
}


#con_view_area #code_div {
    height: calc(100% - 350px);
    border-color: rgb(177, 173, 173);
    border-width: 1px;
    border-style: solid;
}





#con_view_area #t3 {
    height: 40px;
    border-color: rgb(177, 173, 173);
    border-width: 1px;
    border-style: solid;

}

#con_view_area #t4 {
    height: 270px;
    border-color: rgb(177, 173, 173);
    border-width: 1px;
    border-style: solid;
}

#bottom {
    height: 20px;
    width: 100%;
    background-color: rgb(224, 222, 219);
    clear: both;

    border-color: rgb(129, 120, 120);
    border-width: 1px;
    border-style: solid;

    font-family: 'Malgun Gothic';
    font-weight: bold;
    font-size: 10pt;

}

#view_code_button,
#copy_button,
#result_btn,
#clear_btn {
    font-family: 'Malgun Gothic';
    font-weight: bold;
    font-size: 10pt;
}


/* 코드와 캔버스를 나누는 컨테이너 */
#code_div.split {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 코드와 캔버스를 나누는 컨테이너 */
#code_div.split {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 캔버스 표시 영역 */
#code_div .canvas_div {
    flex: 1; /* 전체 공간의 절반을 차지 */
    border-bottom: 1px solid rgb(177, 173, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    overflow: hidden;
}

/* 코드 표시 영역 */
#code_div .code_child_div {
    flex: 1; /* 전체 공간의 절반을 차지 */
    padding: 10px;
    box-sizing: border-box;
}

/* 캔버스 크기 조정을 위한 스타일 */
#imageCanvas {
    width: 100%;
    height: 100%;
    display: block; /* 표시 */
    border: 1px solid #000;
}

/* Toast 알림 스타일 */
.toast {
    visibility: hidden;
    min-width: 150px;
    margin-left: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 30%;
    bottom: 30px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s, bottom 0.3s;
  }

  .toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px;
  }
